# Gradle
.gradle/
build/

# Local config (rutas y secretos de tu máquina)
local.properties
secrets.properties

# Android Studio / IntelliJ
.idea/
*.iml
.DS_Store
captures/

# Firmas y builds
*.apk
*.aab
*.keystore
*.jks

# Native build
.externalNativeBuild
.cxx

# Logs
*.log